<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>农产品之家-商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/static1/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/static1/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到农产品之家!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>{{ username }}</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/static1/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">农产品新闻</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for new in news %}
                        <li>
                            <a href="/{{ new.id }}/"><img src="/upload/{{ new.ap_pic }}"></a>
                            <h4><a href="/{{ new.id }}/">{{ new.ap_name }}</a></h4>
                            <div class="prize">{{ new.ap_price }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

        <div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="list{{typeinfo.id}}_1_1"
                   {% if sort == '1' %}
                        class="active"
                   {% endif %}
                >默认</a>
                <a href="/ap/list{{typeinfo.id}}_1_2"
                   {% if sort == '2' %}
                        class="active"
                   {% endif %}
                >价格</a>
                <a href="/ap/list{{typeinfo.id}}_1_3"
                   {% if sort == '3' %}
                        class="active"
                   {% endif %}
                >人气</a>
			</div>


            <ul class="goods_type_list clearfix">
                {% for g in page %}
                    <li>
                        <a href="/{{ g.id }}/"><img src="/upload/{{ g.ap_pic }}"></a>
                        <h4><a href="/{{ g.id }}/">{{ g.ap_name }}</a></h4>
                        <div class="operate">
                            <span class="prize">{{ g.ap_price }}</span>
                            <span class="unit">{{ g.ap_price }}/{{ g.gunit }}</span>
                            <a href="/cart/add{{g.id}}_1/" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				    <a href="/list{{ typeinfo.id }}_{{page.previous_page_number}}_{{sort}}/">&lt;上一页</a>
                {% else %}
                    <a href="/list{{ typeinfo.id }}_1_{{sort}}/">&lt;上一页</a>
                {% endif %}

                {% if page.number <= 5 %}   <!--当前页面数小于3时-->
                    {% for page_num in paginator.page_range %}
                        {%if forloop.counter <= 5 %}
                            <a href="/list{{ typeinfo.id }}_{{page_num}}_{{sort}}/"
                               {% if page.number == page_num %}
                               class="active"
                               {% endif %}
                            >{{ page_num }}</a>
                        {%endif%}
                    {% endfor %}
                {% else %}
                    {% if page.number|add:1 > paginator.num_pages %}
                        <a href="/list{{ typeinfo.id }}_{{page.number|add:-4}}_{{sort}}/">{{ page.number|add:-4}}</a>
                    {% endif %}
                    {% if page.number|add:2 > paginator.num_pages %}
                        <a href="/list{{ typeinfo.id }}_{{page.number|add:-3}}_{{sort}}/">{{ page.number|add:-3}}</a>
                    {% endif %}
                    <a href="/list{{ typeinfo.id }}_{{page.number|add:-2}}_{{sort}}/" >{{ page.number|add:-2}}</a>
                    <a href="/list{{ typeinfo.id }}_{{page.number|add:-1}}_{{sort}}/">{{ page.number|add:-1}}</a>
                    <a href="/list{{ typeinfo.id }}_{{page.number}}_{{sort}}/" class="active">{{ page.number }}</a>
                    {% if page.number|add:1 <= paginator.num_pages %}
                        <a href="/list{{ typeinfo.id }}_{{page.number|add:1}}_{{sort}}/">{{ page.number|add:1}}</a>
                    {% endif %}
                    {% if page.number|add:2 <= paginator.num_pages %}
                        <a href="/list{{ typeinfo.id }}_{{page.number|add:2}}_{{sort}}/">{{ page.number|add:2}}</a>
                    {% endif %}
                {% endif %}

                {% if page.has_next %}
				    <a href="/list{{ typeinfo.id }}_{{page.next_page_number}}_{{sort}}/">下一页&gt;</a>
                    <!--<script>console.log('{{paginator.num_pages}}')</script>-->
                {% else %}
                    <a href="/list{{ typeinfo.id }}_{{paginator.num_pages}}_{{sort}}/">下一页&gt;</a>

                {% endif %}
			</div>

{#			<ul class="goods_type_list clearfix">#}
{#				<li>#}
{#					<a href="detail.html"><img src="/static/static1/images/goods/goods003.jpg"></a>#}
{#					<h4><a href="detail.html">大兴大棚草莓</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥16.80</span>#}
{#						<span class="unit">16.80/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods004.jpg"></a>#}
{#					<h4><a href="#">吐鲁番梨光杏</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥5.50</span>#}
{#						<span class="unit">5.50/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods005.jpg"></a>#}
{#					<h4><a href="#">黄肉桃</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥10.00</span>#}
{#						<span class="unit">10.00/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods006.jpg"></a>#}
{#					<h4><a href="#">进口西梅</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥28.80</span>#}
{#						<span class="unit">28.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods007.jpg"></a>#}
{#					<h4><a href="#">香梨</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥6.45</span>#}
{#						<span class="unit">6.45/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods008.jpg"></a>#}
{#					<h4><a href="#">栗子</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥9.50</span>#}
{#						<span class="unit">9.50/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods009.jpg"></a>#}
{#					<h4><a href="#">海南香蕉</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥3.30</span>#}
{#						<span class="unit">3.30/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods010.jpg"></a>#}
{#					<h4><a href="#">青苹果</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥5.00</span>#}
{#						<span class="unit">5.00/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods011.jpg"></a>#}
{#					<h4><a href="#">山莓</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥28.80</span>#}
{#						<span class="unit">28.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods012.jpg"></a>#}
{#					<h4><a href="#">奇异果</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥25.80</span>#}
{#						<span class="unit">25.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods013.jpg"></a>#}
{#					<h4><a href="#">蜜桔</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥4.80</span>#}
{#						<span class="unit">4.8/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods014.jpg"></a>#}
{#					<h4><a href="#">脐橙</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥3.50</span>#}
{#						<span class="unit">3.50/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods001.jpg"></a>#}
{#					<h4><a href="#">进口柠檬</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥3.90</span>#}
{#						<span class="unit">3.90/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#				<li>#}
{#					<a href="#"><img src="/static/static1/images/goods/goods002.jpg"></a>#}
{#					<h4><a href="#">玫瑰香葡萄</a></h4>#}
{#					<div class="operate">#}
{#						<span class="prize">￥16.80</span>#}
{#						<span class="unit">16.80/500g</span>#}
{#						<a href="#" class="add_goods" title="加入购物车"></a>#}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{##}
{#			<div class="pagenation">#}
{#				<a href="#"><上一页</a>#}
{#				<a href="#" class="active">1</a>#}
{#				<a href="#">2</a>#}
{#				<a href="#">3</a>#}
{#				<a href="#">4</a>#}
{#				<a href="#">5</a>#}
{#				<a href="#">下一页></a>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}


	
</body>
</html>